header {
    .navbar {
        >.container-fluid {
            max-width: 1345px;
        }
    }

    @include media-breakpoint-up(lg) {
        .w-lg-auto {
            width: auto !important;
        }

        .header {
            &-icon {
                &-phone {
                    width: 60px;
                    height: 60px;
                    object-fit: contain;
                }
            }

            &-text {
                &-phone {
                    @include font-size(28);
                    line-height: 1;
                }

                &-open {
                    @include font-size(18);
                    line-height: 1;
                }
            }
        }
    }
}