#banner {
    position: relative;
    padding: 170px 0px 0px;

    >.container-fluid {
        max-width: 1345px;
    }

    .banner {
        &-img {
            width: 100%;
            height: 646px;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        &-text {
            color: $white;

            h1 {
                font-size: 24px;
            }

            h2 {
                font-size: 17px;
            }

            &-title {
                position: relative;
                display: inline-block;
                padding: .25rem 1rem;
                margin-bottom: 0.5rem;
                box-shadow: 3px 4px 16px rgba(black, .16);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transform: skew(-20deg);
                    background-color: $orange;
                }

                span {
                    position: relative;
                }
            }

            &-subtitle {
                position: relative;
                display: inline-block;
                padding: .25rem 1rem;
                box-shadow: 3px 4px 16px rgba(black, .16);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transform: skew(-20deg);
                    background-color: $white;
                }

                span {
                    position: relative;
                    color: $blue;
                }
            }

            p {
                text-shadow: 0 3px 6px rgba(black, .16);
            }
        }

        &-form {
            background-color: $base;
            padding: 1rem;
            padding-top: 2.5rem;
            border-bottom: .5rem solid $orange;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 40px 0px 40px;
        overflow: hidden;

        .banner {
            &-text {
                h1 {
                    font-size: 50px;
                }

                h2 {
                    font-size: 34px;
                }

                p {
                    font-size: 24px;
                }
            }
        }
    }
}

#sec1 {
    padding-top: 72px;
    padding-bottom: 36px;

    .text-title {
        font: 30px $font-yu;
        line-height: 1.25;
    }

    .issue {
        &-icon {
            margin-bottom: .75rem;
        }

        &-title {
            font-size: 14px;
            font-weight: normal;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 111px;
        padding-bottom: calc(93px - 48px);

        .text-title {
            font-size: 40px;
        }

        .issue {
            &-icon {
                width: 150px;
                height: 150px;
                object-fit: contain;
                margin-bottom: 1.25rem;
            }

            &-title {
                font-size: 18px;
            }
        }
    }
}

#sec2 {
    padding-top: 70px;
    padding-bottom: calc(60px - 16px);

    .text-title {
        font: 28px $font-yu;
        line-height: 40px;
    }

    p {
        span {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 0.5rem;
                background-color: $orange;
                mix-blend-mode: multiply;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .text-title {
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

#sec3 {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $base;
    }

    .box {
        padding-top: 40px;
        padding-bottom: 40px;

        &-feature,
        &-title {
            font: 18px $font-yu;
        }

        &-feature {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: $orange;
            color: $white;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
        }

        &-title {
            line-height: 32px;
        }

        &-text {
            font-size: 12px;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 45px;
        padding-bottom: 45px;

        &::before {
            border-left-width: 35px;
            border-right-width: 35px;
            border-top-width: 34px;
        }

        .box {
            padding-top: 45px;
            padding-bottom: 45px;

            &-img {
                width: 388px;
            }

            &-feature {
                width: 97px;
                height: 97px;
                font-size: 24px;
            }

            &-title {
                font-size: 30px;
            }

            &-text {
                font-size: 18px;
            }
        }
    }
}

#sec4 {
    .text-title {
        @include font-size(40);
    }

    @include media-breakpoint-down(md) {
        >.container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#sec5 {
    padding-top: 60px;
    padding-bottom: 60px;

    .text {
        &-title {
            @include font-size(40);
        }

        &-subtitle {
            span {
                position: relative;
                padding-left: 1.25rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 14px;
                    height: 14px;
                    background-color: #BFB7AC;
                }
            }
        }
    }
}

#sec6 {
    padding: 60px 0;

    .text-title {
        @include font-size(40);
    }

    .step {
        &-img {
            margin-bottom: 1rem;
        }

        &-title {
            font-size: 26px;
            margin-bottom: 1.5rem;
        }

        &-text {
            font-size: 13px;
        }
    }

    @include media-breakpoint-up(lg) {
        .step {
            &-text {
                font-size: 23px;
            }
        }
    }
}

#sec7 {
    padding: 15px 0;

    .header {
        position: relative;
    }

    .card {
        border-width: 0;
        border-radius: 0;

        &-header {
            display: flex;
            align-items: center;
            position: relative;
            border-bottom-width: 0;
            background-color: transparent;
            cursor: pointer;
            padding-top: 2rem;
            padding-right: 2.5rem;
            font-size: 16px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                width: 17px;
                height: 11px;
                background: url('../img/arrow-down.png') no-repeat center center/contain;
            }

            &[aria-expanded="true"] {
                background-color: $base;

                &::before {
                    background: url('../img/arrow-up.png') no-repeat center center/contain;
                }
            }

            &-icon {
                display: inline-flex;
                justify-content: center;
                width: 44px;
                height: 44px;
                min-width: 44px;
                min-height: 44px;
                border-radius: 100%;
                background-color: $orange;
                color: $white;
                line-height: .5;
                margin-right: .5rem;
                font-size: 26px;
            }
        }

        &-body {
            background-color: $base;
            position: relative;
            padding-top: 0;
            padding-left: 4.5rem;

            &::before {
                content: 'A';
                color: $orange;
                position: absolute;
                top: 0;
                left: 2.25rem;
                font-size: 24px;
                line-height: 1;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 110px 0 95px;

        .header {
            .text-title {
                position: absolute;
                top: 50%;
                left: 33%;
                transform: translateY(-50%);
                margin-bottom: 0;
            }
        }

        .card {
            &-header {
                font-size: 30px;

                &-icon {
                    font-size: 30px;
                }
            }
        }
    }
}

#sec8 {
    padding: 80px 0 30px;

    .contact {
        &-phone {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-size: 30px;
            }

            small {
                font-size: 18px;
            }
        }

        &-form {
            max-width: 750px;
            margin: 0 auto;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 100px 0 80px;

        .contact {
            &-phone {
                a {
                    font-size: 40px;
                }
            }
        }
    }
}