// Fonts
$font-family-base: 'Noto Sans JP', sans-serif;
$font-yu: 'Yu Gothic';

// Colors
$red:#FB5547;
$blue:#2C9EFF;
$orange:#FF9E19;
$brown: #562E00;
$base: #F0EDE8;

$theme-colors: (
  "red": $red,
  "blue": $blue,
  "orange": $orange,
  "brown": $brown,
  "base": $base
);